<%- include("./partials/head.ejs"); %> <%- include("./partials/header.ejs"); %>

<h1><%= objArticle.title %></h1>

<p style="font-size: 20px; margin: 5em 0 5em 5em"><%= objArticle.body %></p>

<button data-linkid="<%= objArticle._id %>" class="create">
  Delete this article
</button>

<%- include("./partials/footer.ejs"); %>
