<%- include("./partials/head.ejs"); %> <%- include("./partials/header.ejs"); %>
<% const andro = "is my name" %>

<h1><%= andro %></h1>

<br /><br />
<main id="main">
  <section>
    <h1 lang="en" dir="ltr" id="maintitle" data-article="hiiiiiiiiii♥">Trending Articles &#128293;</h1>

    <div class="parent-of-articles">
      <% arrArticle.forEach(item=> { %>

      <article>
        <h2><%= item.title %></h2>

        <p>
          <%= item.summary %>
          <a class="btn" href="/all-articles/<%= item._id %>">show more</a>
        </p>
      </article>

      <% }); %>
    </div>
  </section>
</main>

<%- include("./partials/footer.ejs"); %>
